[submodule "news-laptops-ms"]
	path = news-laptops-ms
	url = https://github.com/LLkaia/news-laptops-ms
[submodule "specs-micro"]
	path = specs-micro
	url = https://github.com/maksym-shulha/specs-micro.git
[submodule "Accessories"]
	path = Accessories
	url = https://github.com/DenysMkl/Accessories.git
	branch = feature/implement-parse
[submodule "LaptopRater"]
	path = LaptopRater
	url = https://github.com/AVK1206/LaptopRater.git
[submodule "auth_system"]
	path = auth_system
	url = https://github.com/yurakomarnitskyi/auth_system.git
